﻿<%@ Page Title="" Language="vb" AutoEventWireup="false" MasterPageFile="~/Site.Master" CodeBehind="AsmResult.aspx.vb" Inherits="iLA.AsmResult" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
       <!-- Main content -->
    <section class="content">
      <div class="error-page">
        <h2 class="headline text-red"></h2>

        <div class="tab-success">           <p>                
            <div class="text-center"><h3 class="text-blue"><i class="fa fa-thumbs-up text-blue"></i> บันทึกข้อมูลสำเร็จ</h3>
                <br />
                <a href="Evaluated.aspx?ActionType=asm&ItemType=ega" class="btn btn-primary"> <i class="fa fa-backward text-primary"></i>&nbsp;กลับหน้าหลัก</a>
            </div>

            </p>
            <p>
                
           
               </p>

          
        </div>
        <!-- /.error-content -->
      </div>
      <!-- /.error-page -->
    </section>


</asp:Content>
