﻿<%@ Master Language="VB" AutoEventWireup="true" CodeBehind="Site.Master.vb" Inherits="iLA.Site" %>
  
<!DOCTYPE html>

<html>
<head runat="server">  
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
     <meta name="description" content="">
    <meta name="author" content="">
    
    <title><%: Page.Title %> - i-Law : Legal Management System</title> 
     <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!---------------------------------New theme----------------->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
     
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
  
    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="css/main.css" rel="stylesheet">
     <link href="css/rajchasistyles.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="css/pagestyles.css" />  

        <!---------- ----------------------------------->       
 <!-- Bootstrap 3.3.7  สำหรับ Modal  ไม่จำเป็นถ้ามีไฟล์ main 
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" /> 
  -->
 <!--  
  <link rel="stylesheet" href="../css/dscountdown.css" />     
  <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.min.css" />
  <link rel="stylesheet" href="dist/css/skins/_all-skins.min.css" />  
 -->
  <link rel="stylesheet" href="dist/css/AdminLTE.min.css" />  
 
  <!-- Modal  -->

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <script type="text/javascript">
    function openModals(sender, title, message) {
      $("#spnTitle").text(title);
      $("#spnMsg").text(message);
        $('#modalPopUp').modal('show');
        $('#modalConfirm').modal('show');
        $('#modal-alert').modal('show');
        $('#btnConfirm').attr('onclick', "$('#modalPopUp').modal('hide');setTimeout(function(){" + $(sender).prop('href') + "}, 50);"); 
      return false;
    }

  </script>

  <!-- End modal -->

  <!-- fullCalendar -->
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.min.css">
  <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.print.min.css" media="print">

      <!-- Date Picker -->
  <link rel="stylesheet" href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker 
  <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker.css">
-->
     <!-- datepicker  -->  
  <link href="bower_components/datepicker/datepicker.css" rel="stylesheet" media="screen">
  <link href="bower_components/datepicker/prettify.css" rel="stylesheet"> 
       <script src="bower_components/datepicker/prettify.js"></script>
 
  <script src="bower_components/datepicker/bootstrap-datepicker.js"></script> 
      <script src="bower_components/datepicker/bootstrap-datepicker-thai.js"></script> 
    <script src="bower_components/datepicker/bootstrap-datepicker.th.js"></script>  

    <script>
        $(function () {   
            var d = new Date();
		    var toDay = d.getDate() + '/' + (d.getMonth() + 1) + '/'+ (d.getFullYear() + 543);
            $("#datepicker-th").datepicker({ dateFormat: 'dd/mm/yyyy', isBuddhist: true, defaultDate: toDay,autoclose: true });
        });
    </script>
       <!-- DataTables -->
  <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
     <!-- Select2 -->
  <link rel="stylesheet" href="bower_components/select2/dist/css/select2.min.css">
 <!-- iCheck -->
  <link rel="stylesheet" href="plugins/iCheck/flat/blue.css">
      <link rel="stylesheet" href="plugins/iCheck/all.css">


<script language="javascript">

        function AllowOnlyIntegers() {
            var keyCode = event.keyCode;
            if (keyCode >= 48 && keyCode <= 57) {
                event.returnValue = true;
            } else {
                event.returnValue = false;
            }
        }
        function AllowOnlyDouble() {
            var keyCode = event.keyCode;
            if (keyCode >= 48 && keyCode <= 57) {
                event.returnValue = true;
            } else if (keyCode == 46) {
                event.returnValue = true;
            } else {
                event.returnValue = false;
            }
        }
        function AllowOnlyEnglishs() {
            var keyCode = event.keyCode;
            if (keyCode >= 58 && keyCode <= 122) {
                event.returnValue = true;
            } else {
                event.returnValue = false;
            }
        }
        function NotAllowOther() {
            var keyCode = event.keyCode;
            if (keyCode >= 128) {
                event.returnValue = true;
            } else {
                event.returnValue = false;
            }
        }
    
</script>

<asp:ContentPlaceHolder ID="HeadContent" runat="server">
    </asp:ContentPlaceHolder> 
</head>

<body class="hold-transition skin-green sidebar-mini">
<form id="form2" runat="server">
    <asp:ScriptManager ID="ScriptManager1" runat="server" EnablePageMethods="true" ></asp:ScriptManager>

<div class="app-container app-theme-white body-tabs-shadow fixed-header fixed-sidebar">
        <div class="app-header header-shadow">
            <div class="app-header__logo">
                <a href="Home.aspx" target="_blank">
             <div class="logo-src"></div>
                   
                </a>
                <div class="header__pane ml-auto">
                    <div>
                        <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                </button>
                </span>
            </div>
            <div class="app-header__content">
                <div class="app-header-left header-appname">
                    <b>i-Law : Legal Management System</b>
                </div>
                <div class="app-header-right"> 
                    <div class="header-btn-lg pr-0">
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">
                                <div class="widget-content-left">
                                    <div class="btn-group">
                                        <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="p-0 btn">
                                            <asp:Image ID="imgUser2" runat="server" cssclass="rounded-circle" alt="User Image" width="42" Height="42" />
                                            <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                        </a>
                                        <div tabindex="-1" role="menu" aria-hidden="true" class="rm-pointers dropdown-menu-lg dropdown-menu dropdown-menu-right">
                                            <div class="dropdown-menu-header">
                                                <div class="dropdown-menu-header-inner bg-info">
                                                    <div class="menu-header-image opacity-2" style="background-image: url(&#39;assets/images/dropdown-header/city3.jpg&#39;);"></div>
                                                    <div class="menu-header-content text-left">
                                                        <div class="widget-content p-0">
                                                            <div class="widget-content-wrapper">
                                                                <div class="widget-content-left mr-3">
                                                                    <asp:Image ID="imgUser1" runat="server" cssclass="rounded-circle" alt="User Image" width="42" />
                                                                </div>
                                                                <div class="widget-content-left">
                                                                    <div class="widget-heading">                                                                       <asp:Label ID="lblUserName1" runat="server" Text=""></asp:Label>
                                                                    </div>
                                                                    <div class="widget-subheading opacity-8"><asp:Label ID="lblProfileDesc" runat="server" Text=""></asp:Label></div>
                                                                </div>
                                                                <div class="widget-content-right mr-2">
                                                                   <a href="Default.aspx?logout=y"  class="btn-pill btn-shadow btn-shine btn btn-focus">Logout</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         <div class="scroll-area-xs" style="height: 150px;">
                                                <div class="scrollbar-container ps">
                                                    <ul class="nav flex-column">

                                                       <li class="nav-item-header nav-item">My Account</li>
                                                         <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">Period
                                                                <div class="ml-auto">
                                                                    <asp:Label ID="lblPeriod" runat="server" Text="Label">
                                                                    </asp:Label>
                                                                </div>
                                                            </a>
                                                        </li>  
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">Role
                                                                <div class="ml-auto">
                                                                    <asp:Label ID="lblUserRole" runat="server" Text="Label">
                                                                    </asp:Label>
                                                                </div>
                                                            </a>
                                                        </li>  
                                                                
                                                        <li class="nav-item">
                                                            <a href="javascript:void(0);" class="nav-link">Department
                                                                <div class="ml-auto badge badge-success">
                                                                    <asp:Label ID="lblUserDept" runat="server" Text="Label"></asp:Label></div>
                                                            </a>
                                                        </li>

                                                    </ul>

    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                                    </div>
                                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                                    </div> 
                                                </div>
                                            </div>                                             
                                            <div class="grid-menu grid-menu-2col">
                                                <div class="no-gutters row">
                                                    <div class="col-sm-6">
                                                        <a class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-primary"  href="UserInfo.aspx">
                                                            <i class="pe-7s-chat icon-gradient bg-amy-crisp btn-icon-wrapper mb-2"></i> ข้อมูลส่วนตัว                      </a>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <a class="btn-icon-vertical btn-transition btn-transition-alt pt-2 pb-2 btn btn-outline-danger" href="ChangePassword.aspx">
                                                            <i class="pe-7s-ticket icon-gradient bg-love-kiss btn-icon-wrapper mb-2"></i>
                                                            <b>เปลี่ยนรหัสผ่าน</b>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                          <!--  <ul class="nav flex-column">
                                                <li class="nav-item-divider nav-item">
                                                </li>
                                                <li class="nav-item-btn text-center nav-item">
                                                    <a class="btn-wide btn btn-primary btn-sm"></a>
                                                </li>
                                            </ul> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-left  ml-3 header-user-info">
                                    <div class="widget-heading">   <asp:Label ID="lblUsername2" runat="server" Text=""></asp:Label> </div>
                                    <div class="widget-subheading"> <asp:Label ID="lblUserDesc" runat="server" Text=""></asp:Label>  </div>
                                </div>                               
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="ui-theme-settings">
            <button type="button" id="TooltipDemo" class="btn-open-options btn btn-warning">
                <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
            </button>
            <div class="theme-settings__inner">
                <div class="scrollbar-container ps ps--active-y">
                    <div class="theme-settings__options-wrapper">
                        <h3 class="themeoptions-heading">Layout Options</h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-header">
                                                    <div class="switch-animate switch-on">
                                                        <div class="toggle btn btn-success" data-toggle="toggle" role="button" style="width: 70.125px; height: 41px;"><input type="checkbox" checked="" data-toggle="toggle" data-onstyle="success">
                                                            <div class="toggle-group"><label for="" class="btn btn-success toggle-on">On</label><label for="" class="btn btn-light toggle-off">Off</label><span class="toggle-handle btn btn-light"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Header</div>
                                                <div class="widget-subheading">Makes the header top fixed, always visible!</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-sidebar">
                                                    <div class="switch-animate switch-on">
                                                        <div class="toggle btn btn-success" data-toggle="toggle" role="button" style="width: 70.125px; height: 41px;"><input type="checkbox" checked="" data-toggle="toggle" data-onstyle="success">
                                                            <div class="toggle-group"><label for="" class="btn btn-success toggle-on">On</label><label for="" class="btn btn-light toggle-off">Off</label><span class="toggle-handle btn btn-light"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Sidebar</div>
                                                <div class="widget-subheading">Makes the sidebar left fixed, always visible!</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch switch-container-class" data-class="fixed-footer">
                                                    <div class="switch-animate switch-off">
                                                        <div class="toggle btn btn-light off" data-toggle="toggle" role="button" style="width: 70.125px; height: 41px;"><input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                            <div class="toggle-group"><label for="" class="btn btn-success toggle-on">On</label><label for="" class="btn btn-light toggle-off">Off</label><span class="toggle-handle btn btn-light"></span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Fixed Footer</div>
                                                <div class="widget-subheading">Makes the app footer bottom fixed, always visible!</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            <div> Header Options </div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-header-cs-class" data-class="">
                                Restore Default
                            </button>
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <h5 class="pb-2">Choose Color Scheme</h5>
                                    <div class="theme-settings-swatches">
                                        <div class="swatch-holder bg-primary switch-header-cs-class" data-class="bg-primary header-text-light"></div>
                                        <div class="swatch-holder bg-secondary switch-header-cs-class" data-class="bg-secondary header-text-light"></div>
                                        <div class="swatch-holder bg-success switch-header-cs-class" data-class="bg-success header-text-light"></div>
                                        <div class="swatch-holder bg-info switch-header-cs-class" data-class="bg-info header-text-light"></div>
                                        <div class="swatch-holder bg-warning switch-header-cs-class" data-class="bg-warning header-text-dark"></div>
                                        <div class="swatch-holder bg-danger switch-header-cs-class" data-class="bg-danger header-text-light"></div>
                                        <div class="swatch-holder bg-light switch-header-cs-class" data-class="bg-light header-text-dark"></div>
                                        <div class="swatch-holder bg-dark switch-header-cs-class" data-class="bg-dark header-text-light"></div>
                                        <div class="swatch-holder bg-focus switch-header-cs-class" data-class="bg-focus header-text-light"></div>
                                        <div class="swatch-holder bg-alternate switch-header-cs-class" data-class="bg-alternate header-text-light"></div>
                                        <div class="divider"></div>
                                        <div class="swatch-holder bg-vicious-stance switch-header-cs-class" data-class="bg-vicious-stance header-text-light"></div>
                                        <div class="swatch-holder bg-midnight-bloom switch-header-cs-class" data-class="bg-midnight-bloom header-text-light"></div>
                                        <div class="swatch-holder bg-night-sky switch-header-cs-class" data-class="bg-night-sky header-text-light"></div>
                                        <div class="swatch-holder bg-slick-carbon switch-header-cs-class" data-class="bg-slick-carbon header-text-light"></div>
                                        <div class="swatch-holder bg-asteroid switch-header-cs-class" data-class="bg-asteroid header-text-light"></div>
                                        <div class="swatch-holder bg-royal switch-header-cs-class" data-class="bg-royal header-text-light"></div>
                                        <div class="swatch-holder bg-warm-flame switch-header-cs-class" data-class="bg-warm-flame header-text-dark"></div>
                                        <div class="swatch-holder bg-night-fade switch-header-cs-class" data-class="bg-night-fade header-text-dark"></div>
                                        <div class="swatch-holder bg-sunny-morning switch-header-cs-class" data-class="bg-sunny-morning header-text-dark"></div>
                                        <div class="swatch-holder bg-tempting-azure switch-header-cs-class" data-class="bg-tempting-azure header-text-dark"></div>
                                        <div class="swatch-holder bg-amy-crisp switch-header-cs-class" data-class="bg-amy-crisp header-text-dark"></div>
                                        <div class="swatch-holder bg-heavy-rain switch-header-cs-class" data-class="bg-heavy-rain header-text-dark"></div>
                                        <div class="swatch-holder bg-mean-fruit switch-header-cs-class" data-class="bg-mean-fruit header-text-dark"></div>
                                        <div class="swatch-holder bg-malibu-beach switch-header-cs-class" data-class="bg-malibu-beach header-text-light"></div>
                                        <div class="swatch-holder bg-deep-blue switch-header-cs-class" data-class="bg-deep-blue header-text-dark"></div>
                                        <div class="swatch-holder bg-ripe-malin switch-header-cs-class" data-class="bg-ripe-malin header-text-light"></div>
                                        <div class="swatch-holder bg-arielle-smile switch-header-cs-class" data-class="bg-arielle-smile header-text-light"></div>
                                        <div class="swatch-holder bg-plum-plate switch-header-cs-class" data-class="bg-plum-plate header-text-light"></div>
                                        <div class="swatch-holder bg-happy-fisher switch-header-cs-class" data-class="bg-happy-fisher header-text-dark"></div>
                                        <div class="swatch-holder bg-happy-itmeo switch-header-cs-class" data-class="bg-happy-itmeo header-text-light"></div>
                                        <div class="swatch-holder bg-mixed-hopes switch-header-cs-class" data-class="bg-mixed-hopes header-text-light"></div>
                                        <div class="swatch-holder bg-strong-bliss switch-header-cs-class" data-class="bg-strong-bliss header-text-light"></div>
                                        <div class="swatch-holder bg-grow-early switch-header-cs-class" data-class="bg-grow-early header-text-light"></div>
                                        <div class="swatch-holder bg-love-kiss switch-header-cs-class" data-class="bg-love-kiss header-text-light"></div>
                                        <div class="swatch-holder bg-premium-dark switch-header-cs-class" data-class="bg-premium-dark header-text-light"></div>
                                        <div class="swatch-holder bg-happy-green switch-header-cs-class" data-class="bg-happy-green header-text-light"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            <div>Sidebar Options</div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto btn btn-focus btn-sm switch-sidebar-cs-class" data-class="">
                                Restore Default
                            </button>
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <!--<li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch" data-on-label="ON" data-off-label="OFF">
                                                    <div class="switch-animate switch-off">
                                                        <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Sidebar Background Image
                                                </div>
                                                <div class="widget-subheading">Enable background images for sidebar!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                <li class="list-group-item">
                                    <h5 class="pb-2">Choose Color Scheme</h5>
                                    <div class="theme-settings-swatches">
                                        <div class="swatch-holder bg-primary switch-sidebar-cs-class" data-class="bg-primary sidebar-text-light"></div>
                                        <div class="swatch-holder bg-secondary switch-sidebar-cs-class" data-class="bg-secondary sidebar-text-light"></div>
                                        <div class="swatch-holder bg-success switch-sidebar-cs-class" data-class="bg-success sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-info switch-sidebar-cs-class" data-class="bg-info sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-warning switch-sidebar-cs-class" data-class="bg-warning sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-danger switch-sidebar-cs-class" data-class="bg-danger sidebar-text-light"></div>
                                        <div class="swatch-holder bg-light switch-sidebar-cs-class" data-class="bg-light sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-dark switch-sidebar-cs-class" data-class="bg-dark sidebar-text-light"></div>
                                        <div class="swatch-holder bg-focus switch-sidebar-cs-class" data-class="bg-focus sidebar-text-light"></div>
                                        <div class="swatch-holder bg-alternate switch-sidebar-cs-class" data-class="bg-alternate sidebar-text-light"></div>
                                        <div class="divider"></div>
                                        <div class="swatch-holder bg-vicious-stance switch-sidebar-cs-class" data-class="bg-vicious-stance sidebar-text-light"></div>
                                        <div class="swatch-holder bg-midnight-bloom switch-sidebar-cs-class" data-class="bg-midnight-bloom sidebar-text-light"></div>
                                        <div class="swatch-holder bg-night-sky switch-sidebar-cs-class" data-class="bg-night-sky sidebar-text-light"></div>
                                        <div class="swatch-holder bg-slick-carbon switch-sidebar-cs-class" data-class="bg-slick-carbon sidebar-text-light"></div>
                                        <div class="swatch-holder bg-asteroid switch-sidebar-cs-class" data-class="bg-asteroid sidebar-text-light"></div>
                                        <div class="swatch-holder bg-royal switch-sidebar-cs-class" data-class="bg-royal sidebar-text-light"></div>
                                        <div class="swatch-holder bg-warm-flame switch-sidebar-cs-class" data-class="bg-warm-flame sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-night-fade switch-sidebar-cs-class" data-class="bg-night-fade sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-sunny-morning switch-sidebar-cs-class" data-class="bg-sunny-morning sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-tempting-azure switch-sidebar-cs-class" data-class="bg-tempting-azure sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-amy-crisp switch-sidebar-cs-class" data-class="bg-amy-crisp sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-heavy-rain switch-sidebar-cs-class" data-class="bg-heavy-rain sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-mean-fruit switch-sidebar-cs-class" data-class="bg-mean-fruit sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-malibu-beach switch-sidebar-cs-class" data-class="bg-malibu-beach sidebar-text-light"></div>
                                        <div class="swatch-holder bg-deep-blue switch-sidebar-cs-class" data-class="bg-deep-blue sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-ripe-malin switch-sidebar-cs-class" data-class="bg-ripe-malin sidebar-text-light"></div>
                                        <div class="swatch-holder bg-arielle-smile switch-sidebar-cs-class" data-class="bg-arielle-smile sidebar-text-light"></div>
                                        <div class="swatch-holder bg-plum-plate switch-sidebar-cs-class" data-class="bg-plum-plate sidebar-text-light"></div>
                                        <div class="swatch-holder bg-happy-fisher switch-sidebar-cs-class" data-class="bg-happy-fisher sidebar-text-dark"></div>
                                        <div class="swatch-holder bg-happy-itmeo switch-sidebar-cs-class" data-class="bg-happy-itmeo sidebar-text-light"></div>
                                        <div class="swatch-holder bg-mixed-hopes switch-sidebar-cs-class" data-class="bg-mixed-hopes sidebar-text-light"></div>
                                        <div class="swatch-holder bg-strong-bliss switch-sidebar-cs-class" data-class="bg-strong-bliss sidebar-text-light"></div>
                                        <div class="swatch-holder bg-grow-early switch-sidebar-cs-class" data-class="bg-grow-early sidebar-text-light"></div>
                                        <div class="swatch-holder bg-love-kiss switch-sidebar-cs-class" data-class="bg-love-kiss sidebar-text-light"></div>
                                        <div class="swatch-holder bg-premium-dark switch-sidebar-cs-class" data-class="bg-premium-dark sidebar-text-light"></div>
                                        <div class="swatch-holder bg-happy-green switch-sidebar-cs-class" data-class="bg-happy-green sidebar-text-light"></div>
                                    </div>
                                </li>
                                <!--<li class="theme-settings-swatches d-none list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Background Opacity
                                                </div>
                                            </div>
                                            <div class="widget-content-right">
                                                <div role="group" class="btn-group-sm btn-group">
                                                    <button type="button" class="btn-shadow opacity-3 active btn btn-primary">4%
                                                    </button>
                                                    <button type="button" class="btn-shadow opacity-4 btn btn-primary">6%
                                                    </button>
                                                    <button type="button" class="btn-shadow opacity-5 btn btn-primary">8%
                                                    </button>
                                                    <button type="button" class="btn-shadow opacity-6 btn btn-primary">10%
                                                    </button>
                                                    <button type="button" class="btn-shadow opacity-7 btn btn-primary">15%
                                                    </button>
                                                    <button type="button" class="btn-shadow opacity-8 btn btn-primary">20%
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                <!--<li class="theme-settings-swatches d-none list-group-item">
                                    <h5>Sidebar Image Background
                                    </h5>
                                    <div class="divider">
                                    </div>
                                    <div class="swatch-holder swatch-holder-img active">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/city1.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/city2.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/city3.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/city4.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/city5.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/abstract1.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/abstract2.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/abstract3.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/abstract4.jpg">
                                        </a>
                                    </div>
                                    <div class="swatch-holder swatch-holder-img">
                                        <a class="img-holder switch-trigger">
                                            <img alt=" " src="assets/images/sidebar/abstract5.jpg">
                                        </a>
                                    </div>
                                </li>-->
                            </ul>
                        </div>
                        <h3 class="themeoptions-heading">
                            <div>Main Content Options</div>
                            <button type="button" class="btn-pill btn-shadow btn-wide ml-auto active btn btn-focus btn-sm">Restore Default</button>
                        </h3>
                        <div class="p-3">
                            <ul class="list-group">
                                <!--<li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch" data-on-label="ON" data-off-label="OFF">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Page Title Icon
                                                </div>
                                                <div class="widget-subheading">Enable the icon box for page titles!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="widget-content p-0">
                                        <div class="widget-content-wrapper">
                                            <div class="widget-content-left mr-3">
                                                <div class="switch has-switch" data-on-label="ON" data-off-label="OFF">
                                                    <div class="switch-animate switch-on">
                                                        <input type="checkbox" data-toggle="toggle" data-onstyle="success">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-content-left">
                                                <div class="widget-heading">Page Title Description
                                                </div>
                                                <div class="widget-subheading">Enable the description below page title!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>-->
                                <li class="list-group-item">
                                    <h5 class="pb-2">Page Section Tabs</h5>
                                    <div class="theme-settings-swatches">
                                        <div role="group" class="mt-2 btn-group">
                                            <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="body-tabs-line"> Line</button>
                                            <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="body-tabs-shadow"> Shadow </button>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <h5 class="pb-2">Light Color Schemes
                                    </h5>
                                    <div class="theme-settings-swatches">
                                        <div role="group" class="mt-2 btn-group">
                                            <button type="button" class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class" data-class="app-theme-white"> White Theme</button>
                                            <button type="button" class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class" data-class="app-theme-gray"> Gray Theme</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 969px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 637px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-main">
            <div class="app-sidebar sidebar-shadow">
                <div class="app-header__logo">
                    <div class="logo-src"></div>
                    <div class="header__pane ml-auto">
                        <div>
                            <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                        </div>
                    </div>
                </div>
                <div class="app-header__mobile-menu">
                    <div>
                        <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                    </div>
                </div>
                <div class="app-header__menu">
                    <span>
                            <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                                <span class="btn-icon-wrapper">
                                    <i class="fa fa-ellipsis-v fa-w-6"></i>
                                </span>
                    </button>
                    </span>
                </div>
                <div class="scrollbar-sidebar ps ps--active-y">
                    <div class="app-sidebar__inner">
                        <ul class="vertical-nav-menu metismenu">
                            <li class="app-sidebar__heading">Menu</li>
                     <% If Request.Cookies("iLaw")("PACKAGENO") = 1 Then %>     
                            <% If Request("m") = "h"  %>
                                <li><a class="mm-active" href="Home1.aspx?m=h"><i class="metismenu-icon pe-7s-rocket"></i>Dashboards</a></li>
                            <% Else %>
                                <li><a href="Home1.aspx?m=h"><i class="metismenu-icon pe-7s-rocket"></i>Dashboards</a></li> 
                            <% End If %>
                     <% Else %>
                             <% If Request("m") = "h"  %>
                                <li><a class="mm-active" href="Home.aspx?m=h"><i class="metismenu-icon pe-7s-rocket"></i>Dashboards</a></li>
                            <% Else %>
                                <li><a href="Home.aspx?m=h"><i class="metismenu-icon pe-7s-rocket"></i>Dashboards</a></li> 
                            <% End If %>

                     <% End If %>
                            <% If Request("m") = "d"  %>
                                <li><a class="mm-active" href="Report/rptLegalAll.aspx?m=d&r=all" target="_blank"><i class="metismenu-icon pe-7s-download"></i>ดาวน์โหลดกฎหมาย</a></li>
                            <% Else %>
                                <li><a href="Report/rptLegalAll.aspx?m=d&r=all" target="_blank"><i class="metismenu-icon pe-7s-download"></i>ดาวน์โหลดกฎหมาย</a></li> 
                            <% End If %>  

                            <% If Request("m") = "new"  %>
                                <li><a class="mm-active" href="LegalNew.aspx?m=new" target="_blank"><i class="metismenu-icon pe-7s-star"></i>กฎหมายใหม่เดือนล่าสุด</a></li>
                            <% Else %>
                                <li><a href="LegalNew.aspx?m=new" target="_blank"><i class="metismenu-icon pe-7s-star"></i>กฎหมายใหม่เดือนล่าสุด</a></li> 
                            <% End If %>  

             <% If Request.Cookies("iLaw")("PACKAGENO") <> 1 Then %>                       
                            <% If Request("m") = "l" Then  %>
                                <li class="mm-active"> 
                            <% Else %>
                                <li>
                            <% End If %>                             
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-cup"></i>จัดการกฎหมาย
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="mm-collapse">

                                    <% If Request("s") = "reg"  %>
                                        <li><a class="mm-active" href="Legal.aspx?m=l&s=reg"><i class="metismenu-icon pe-7s-ticket"></i>ทะเบียนกฎหมายทั้งหมด</a></li>
                                    <% Else %>
                                        <li><a href="Legal.aspx?m=l&s=reg"><i class="metismenu-icon pe-7s-ticket"></i>ทะเบียนกฎหมายทั้งหมด</a></li> 
                                    <% End If %>  
                                                   
                        <% If Convert.ToBoolean(Request.Cookies("iLaw")("ROLE_USR")) = True Then %>    
                              <% If Request("s") = "asm" Then  %>
                                <li><a class="mm-active" href="LegalList.aspx?m=l&s=asm"><i class="metismenu-icon pe-7s-rocket"></i>ประเมินความสอดคล้อง</a></li>
                            <% Else %>
                                <li><a href="LegalList.aspx?m=l&s=asm"><i class="metismenu-icon pe-7s-rocket"></i>ประเมินความสอดคล้อง</a></li> 
                            <% End If %>     
                                                                                 
                        <% End If %>  
                         <% If Convert.ToBoolean(Request.Cookies("iLaw")("ROLE_APP")) = True Then %>    
                              <% If Request("s") = "apv" Then  %>
                                <li><a class="mm-active" href="LegalList.aspx?m=l&s=apv"><i class="metismenu-icon pe-7s-rocket"></i>อนุมัติความสอดคล้อง</a></li>
                            <% Else %>
                                <li><a href="LegalList.aspx?m=l&s=apv"><i class="metismenu-icon pe-7s-rocket"></i>อนุมัติความสอดคล้อง</a></li> 
                            <% End If %>     
                                                                                 
                        <% End If %>  

                       </ul>
                            </li>        
  <% End If %>  
                           
                              <% If Request("m") = "find"  %>
                                <li class="mm-active"> 
                            <% Else %>
                                <li>
                            <% End If %>                             
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-search"></i>ค้นหากฎหมาย
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="mm-collapse">
                                     <% If Request("s") = "0"  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=0"><i class="metismenu-icon"></i>กฎหมายทั้งหมด</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=0"><i class="metismenu-icon"></i>กฎหมายทั้งหมด</a></li> 
                                    <% End If %>
                                    <% If Request("s") = "1"  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=1"><i class="metismenu-icon"></i>ค้นหาตามประเภท</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=1"><i class="metismenu-icon"></i>ค้นหาตามประเภท</a></li> 
                                    <% End If %>

                                    <% If Request("s") = "2"  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=2"><i class="metismenu-icon"></i>ค้นหาตามกระทรวง</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=2"><i class="metismenu-icon"></i>ค้นหาตามกระทรวง</a></li> 
                                    <% End If %>
                                     <% If Request("s") = "6"  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=6"><i class="metismenu-icon"></i>ค้นหาตามกฎหมายแม่บท</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=6"><i class="metismenu-icon"></i>ค้นหาตามกฎหมายแม่บท</a></li> 
                                    <% End If %>

                                    <% If Request("s") = "3"  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=3"><i class="metismenu-icon"></i>ค้นหาตามปี</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=3"><i class="metismenu-icon"></i>ค้นหาตามปี</a></li> 
                                    <% End If %>     
                                    <% If Request("s") = "4" Then  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=4"><i class="metismenu-icon"></i>ค้นหาตามประเภทธุรกิจ</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=4"><i class="metismenu-icon"></i>ค้นหาตามประเภทธุรกิจ</a></li> 
                                    <% End If %>  
                                     <% If Request("s") = "5" Then  %>
                                        <li><a class="mm-active" href="LegalSearch.aspx?m=find&s=5"><i class="metismenu-icon"></i>ค้นหาตามคำสำคัญ</a></li>
                                    <% Else %>
                                        <li><a href="LegalSearch.aspx?m=find&s=5"><i class="metismenu-icon"></i>ค้นหาตามคำสำคัญ</a></li> 
                                    <% End If %>    
                                                                  
                                </ul>
                            </li> 
      <% If Request.Cookies("iLaw")("PACKAGENO") <> 1 Then %>   
                                <% If Request("m") = "rpt"  %>
                                <li class="mm-active"> 
                            <% Else %>
                                <li>
                            <% End If %>                             
                                <a href="#">
                                    <i class="metismenu-icon pe-7s-graph2"></i>รายงาน
                                    <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                                </a>
                                <ul class="mm-collapse">
                                    <% If Request("s") = "1"  %>
                                        <li><a class="mm-active" href="ReportLegalAssessment.aspx?m=rpt&s=1"><i class="metismenu-icon fa fa-chart-area"></i>ผลการประเมินความสอดคล้อง</a></li>
                                    <% Else %>
                                        <li><a href="ReportLegalAssessment.aspx?m=rpt&s=1"><i class="metismenu-icon fa fa-chart-area"></i>ผลการประเมินความสอดคล้อง</a></li> 
                                    <% End If %>
                                     <% If Request("s") = "2"  %>
                                        <li><a class="mm-active" href="LegaListStatus?m=rpt&s=2&st=asm"><i class="metismenu-icon fa fa-history"></i>Work flow overview</a></li>
                                    <% Else %>
                                        <li><a href="LegaListStatus.aspx?m=rpt&s=2&st=asm"><i class="metismenu-icon fa fa-history"></i>Work flow overview</a></li> 
                                    <% End If %>
                                                                       
                                                                  
                                </ul>
                            </li> 
                                          
  <% End If %>  
                                                       
<% If Convert.ToBoolean(Request.Cookies("iLaw")("ROLE_ADM")) = True Or Convert.ToBoolean(Request.Cookies("iLaw")("ROLE_SPA")) = True Then%>     
      <li class="app-sidebar__heading">Admin</li>      
      <% If Request("m") = "u" Then%>
          <li><a class="mm-active"  href="Users.aspx?m=u"><i class="metismenu-icon pe-7s-users"></i> <span>User</span></a></li>
      <% Else%>
          <li><a href="Users.aspx?m=u"><i class="metismenu-icon pe-7s-users"></i> <span>Users</span></a></li>  
      <% End If%>                             

      <% If Request("m") = "prd" Then%>
        <li><a class="mm-active"  href="PeriodTime.aspx?m=prd"> <i class="metismenu-icon pe-7s-date  text-primary"></i>Period Time</a></li>
      <% Else %>
        <li><a href="PeriodTime?m=prd"><i class="metismenu-icon pe-7s-date"></i> Period Time</a></li>
      <% End If %>
     
      <% If Request("m") = "dep" Then%>
        <li><a class="mm-active"  href="Department.aspx?m=dep"><i class="metismenu-icon pe-7s-network text-primary"></i>หน่วยงาน/แผนก</a></li>
      <% Else %>
        <li><a href="Department.aspx?m=dep"><i class="metismenu-icon pe-7s-network"></i>หน่วยงาน/แผนก</a></li>
      <% End If %>  
    
                             
        
<% End If%>
 
<% If Convert.ToBoolean(Request.Cookies("iLaw")("ROLE_SPA")) = True Then %>   
     <% If Request("m") = "im1" Then  %>
         <li><a class="mm-active" href="LawImport.aspx?m=im1"><i class="metismenu-icon pe-7s-cloud-upload"></i>Import กฎหมายใหม่</a></li>
     <% Else %>
         <li><a href="LawImport.aspx?m=im1"><i class="metismenu-icon pe-7s-cloud-upload"></i>Import กฎหมายใหม่</a></li> 
     <% End If %>
     <% If Request("m") = "im2" Then  %>
         <li><a class="mm-active" href="LawImportPractice.aspx?m=im2"><i class="metismenu-icon pe-7s-cloud-upload"></i>Import ข้อสารสำคัญ</a></li>
     <% Else %>
         <li><a href="LawImportPractice.aspx?m=im2"><i class="metismenu-icon pe-7s-cloud-upload"></i>Import ข้อสารสำคัญ</a></li> 
     <% End If %>

    <li class="app-sidebar__heading">Customer</li> 
     <% If Request("m") = "comp" Then%>
         <li><a class="mm-active"  href="Company?m=comp"> <i class="metismenu-icon pe-7s-home  text-primary"></i>Customer Company</a></li>
     <% Else %>
         <li><a href="Company?m=comp"><i class="metismenu-icon pe-7s-home"></i> Customer Company</a></li>
     <% End If %>

     <% If Request("m") = "renew" Then%>
         <li><a class="mm-active"  href="Customer?m=cus"> <i class="metismenu-icon pe-7s-bell  text-primary"></i>ระบบจัดการสมาชิก</a></li>
     <% Else %>
         <li><a href="Customer?m=cus"><i class="metismenu-icon pe-7s-bell"></i>ระบบจัดการสมาชิก</a></li>
     <% End If %>

  <% If Request("m") = "reg" Then%>
        <li><a class="mm-active"  href="RegisterList.aspx?m=reg"><i class="metismenu-icon pe-7s-user-female text-primary"></i>ผู้ลงทะเบียนขอใช้</a></li>
      <% Else %>
        <li><a href="RegisterList.aspx?m=reg"><i class="metismenu-icon pe-7s-user-female"></i>ผู้ลงทะเบียนขอใช้</a></li>
      <% End If %>   


    <li class="app-sidebar__heading">Master</li>              
      <% If Request("m") = "org" Then%>
        <li><a class="mm-active"  href="Organization?m=org"> <i class="metismenu-icon pe-7s-diamond  text-primary"></i>ข้อมูลองค์กร</a></li>
      <% Else %>
        <li><a href="Organization?m=org"><i class="metismenu-icon pe-7s-diamond"></i> ข้อมูลองค์กร</a></li>
      <% End If %>
                             
      <% If Request("m") = "t" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=t"><i class="metismenu-icon pe-7s-way text-primary"></i>ประเภทกฎหมาย</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=t"><i class="metismenu-icon pe-7s-way"></i>ประเภทกฎหมาย</a></li>
      <% End If %>  

       <% If Request("m") = "m" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=m"><i class="metismenu-icon pe-7s-diamond text-primary"></i>กฎหมายแม่บท</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=m"><i class="metismenu-icon pe-7s-diamond"></i>กฎหมายแม่บท</a></li>
      <% End If %>  
                             
    <!--<li><a class="mm-active"  href="MasterData.aspx?m=f"><i class="metismenu-icon pe-7s-hammer text-primary"></i>หน่วยงานที่บังคับใช้กฎหมาย</a></li>-->
      <% If Request("m") = "pv" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=pv"><i class="metismenu-icon pe-7s-map-marker text-primary"></i>พื้นที่บังคับใช้</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=pv"><i class="metismenu-icon pe-7s-map-marker"></i>พื้นที่บังคับใช้</a></li>
      <% End If %>  
      <% If Request("m") = "bu" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=bu"><i class="metismenu-icon pe-7s-plane text-primary"></i>ประเภทธุรกิจ</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=bu"><i class="metismenu-icon pe-7s-plane"></i>ประเภทธุรกิจ</a></li>
      <% End If %> 
      <% If Request("m") = "fac" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=fac"><i class="metismenu-icon pe-7s-tools text-primary"></i>ประเภทโรงงาน</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=fac"><i class="metismenu-icon pe-7s-tools"></i>ประเภทโรงงาน</a></li>
      <% End If %> 
      <% If Request("m") = "min" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=min"><i class="metismenu-icon pe-7s-culture text-primary"></i>กระทรวง</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=min"><i class="metismenu-icon pe-7s-culture"></i>กระทรวง</a></li>
      <% End If %> 
      <% If Request("m") = "kw" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=kw"><i class="metismenu-icon pe-7s-star text-primary"></i>Keyword</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=kw"><i class="metismenu-icon pe-7s-star"></i>Keyword</a></li>
      <% End If %> 
      <% If Request("m") = "ph" Then%>
        <li><a class="mm-active"  href="MasterData.aspx?m=ph"><i class="metismenu-icon pe-7s-star text-primary"></i>Implementation Phase</a></li>
      <% Else %>
        <li><a href="MasterData.aspx?m=ph"><i class="metismenu-icon pe-7s-star"></i>Implementation Phase</a></li>
      <% End If %>  

<% End If %>  
          


                        </ul>
                    </div>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 909px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 791px;"></div>
                    </div>
                </div>
            </div>
            <div class="app-main__outer">
                <div class="app-main__inner">
  <!-- Main Content start -->
                     <asp:ContentPlaceHolder ID="MainContent" runat="server"></asp:ContentPlaceHolder>
                </div>
                <div class="app-wrapper-footer">
                    <div class="app-footer">
                        <div class="app-footer__inner">
                            <div class="app-footer-left">
                               <!-- footer left -->
                            </div>
                            <div class="app-footer-right">
                              <!--  footer right -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="app-drawer-overlay d-none animated fadeIn"></div> 

      <!-- Modal HTML -->
    <div id="modal-alert" class="modal fade" role="dialog" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span id="spnTitle"></span></h4>
          </div>
          <div class="modal-body">           
            <p><span id="spnMsg"></span>.</p>            
          </div>
             <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Close</button>
              </div>
        </div>
      </div>
    </div>  

    <!--- End Modal --->


 </form>
 


<!-- jQuery 3 
<script src="bower_components/jquery/dist/jquery.min.js"></script>
-->
<!-- jQuery UI 1.11.4 
<script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
-->
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip 
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
-->

<!-- Bootstrap 3.3.7 
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
-->

    <!-- daterangepicker 
<script src="bower_components/moment/min/moment.min.js"></script>
<script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>-->
<!-- datepicker 
<script src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    -->
<!-- date-range-picker 
<script src="plugins/daterangepicker/daterangepicker.js"></script>    
-->

<!-- จำเป็นต่อการ ยุบ/ขยาย box-->
<script src="dist/js/adminlte.min.js"></script>

<script type="text/javascript" src="js/main.js"></script>

    
    <!-- fullCalendar -->
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
  
<!-- DataTables -->
<script src="bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- Select2 -->
<script src="bower_components/select2/dist/js/select2.full.min.js"></script>


<!-- iCheck -->
<script src="plugins/iCheck/icheck.min.js"></script>
    
<script>
  $(function () {
    //Initialize Select2 Elements
    $('.select2').select2()      
   
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass   : 'iradio_minimal-blue'
    })
    //Red color scheme for iCheck
    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
      checkboxClass: 'icheckbox_minimal-red',
      radioClass   : 'iradio_minimal-red'
    })
    //Flat red color scheme for iCheck
    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
      checkboxClass: 'icheckbox_flat-green',
      radioClass   : 'iradio_flat-green'
    })
  })
</script> 
     
<script>
        $(document).ready(function () {
            $('input[type="radio"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue',
                increaseArea: '20%' // optional
            });
        });
</script>
<script>
  $(function () {

    /* initialize the external events
     -----------------------------------------------------------------*/
    function init_events(ele) {
      ele.each(function () {

        var eventObject = {
          title: $.trim($(this).text()) // use the element's text as the event title
        }

        // store the Event Object in the DOM element so we can get to it later
        $(this).data('eventObject', eventObject)

        // make the event draggable using jQuery UI
        $(this).draggable({
          zIndex        : 1070,
          revert        : true, // will cause the event to go back to its
          revertDuration: 0  //  original position after the drag
        })

      })
    }

    init_events($('#external-events div.external-event'))

    /* initialize the calendar
     -----------------------------------------------------------------*/
    //Date for the calendar events (dummy data)
      var date = new Date()
    var d    = date.getDate(),
        m    = date.getMonth(),
        y    = date.getFullYear()
    $('#calendar2').fullCalendar({
      header    : {
        left  : 'prev,next today',
        center: 'title',
        right : 'month,agendaWeek,agendaDay'
      },
      buttonText: {
        today: 'today',
        month: 'month',
        week : 'week',
        day  : 'day'
      },
      //Random default events
      events    : <%=json %>,
      editable  : true,
      droppable : true, // this allows things to be dropped onto the calendar !!!
      drop      : function (date, allDay) { // this function is called when something is dropped

        // retrieve the dropped element's stored Event Object
        var originalEventObject = $(this).data('eventObject')

        // we need to copy it, so that multiple events don't have a reference to the same object
        var copiedEventObject = $.extend({}, originalEventObject)

        // assign it the date that was reported
        copiedEventObject.start           = date
        copiedEventObject.allDay          = allDay
        copiedEventObject.backgroundColor = $(this).css('background-color')
        copiedEventObject.borderColor     = $(this).css('border-color')

        $('#calendar').fullCalendar('renderEvent', copiedEventObject, true)

        // is the "remove after drop" checkbox checked?
        if ($('#drop-remove').is(':checked')) {
          // if so, remove the element from the "Draggable Events" list
          $(this).remove()
        }

      }
    })

    /* ADDING EVENTS */
    var currColor = '#3c8dbc' //Red by default
    //Color chooser button
    var colorChooser = $('#color-chooser-btn')
    $('#color-chooser > li > a').click(function (e) {
      e.preventDefault()
      //Save color
      currColor = $(this).css('color')
      //Add color effect to button
      $('#add-new-event').css({ 'background-color': currColor, 'border-color': currColor })
    })
    $('#add-new-event').click(function (e) {
      e.preventDefault()
      //Get value and make sure it is not null
      var val = $('#new-event').val()
      if (val.length == 0) {
        return
      }

      //Create events
      var event = $('<div />')
      event.css({
        'background-color': currColor,
        'border-color'    : currColor,
        'color'           : '#fff'
      }).addClass('external-event')
      event.html(val)
      $('#external-events').prepend(event)

      //Add draggable funtionality
      init_events(event)

      //Remove event from text input
      $('#new-event').val('')
    })
  })
</script>
     
<script>
    $(function () {
        $('#tbdata').DataTable()
        $('#tbdata2').DataTable()
        $('#MainContent_grdData').DataTable()
        $('#grdData2').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': true,
            'autoWidth': false
        })
    })
</script> 

</body>
</html>