 @import url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,200;0,300;0,400;0,600;0,800;1,400;1,600&display=swap');
 body {
     font-family: 'Sarabun', Helvetica, Arial, sans-serif !important;
     font-weight: normal;
     font-style: normal;
     background-color: #e9efef !important;
 }

 .logo {
     padding: 10px;
 }
 
 .header-logo {
     color: #9c7e04;
     font-size: 40px;
     font-weight: 700;
 }
 
 .header-appname {
    color: #59ba1f;
    font-size: 20px;
    font-weight: 400;
}

.header-text {
    color: #59ba1f;
    font-size: 14px;
    font-weight: 400;
}  

.toggle-button-cover
{
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover
{
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 50px;
    height: 25px;
  /*  margin: -20px auto 0 auto;*/
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #c3f5c3; /* ebf7fc # 6cbe4c;*/
    transition: 0.3s ease all;
    z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 1px;
    background-color: #04AA6D;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before
{
    content: 'YES';
    left: 2px;
    background-color: #04AA6D;
}

#button-1 .checkbox:checked ~ .layer
{
    background-color: #c3f5c3;
}

#button-1 .checkbox + .knobs:before
{
    content: 'NO';
    left: 28px;
    background-color: #f44336;
}

#button-1 .checkbox ~ .layer
{
    background-color: #fcebeb;
}

#button-1 .knobs, #button-1 .knobs:before, #button-1 .layer
{
    transition: 0.3s ease all;
}

/* Button 3 */
#button-2 .knobs:before
{
    content: 'YES';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 5px 1px;
    background-color: #04AA6D;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#button-2 .checkbox:active + .knobs:before
{
    width: 46px;
    border-radius: 100px;
}

#button-2 .checkbox:checked:active + .knobs:before
{
    margin-left: -26px;
}


#button-2 .checkbox:checked + .knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: #04AA6D;
}

#button-2 .checkbox:checked ~ .layer
{
    background-color: #c3f5c3;
}

#button-2 .checkbox + .knobs:before
{
    content: 'NO';
    left: 42px;
    background-color: #F44336;
}

#button-2 .checkbox ~ .layer
{
    background-color: #fcebeb;
}
 /*
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
} 

.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 2px;
	width: 90px;
	line-height: 20px;
	letter-spacing: 1px;
	margin: 0 auto;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	overflow: hidden;
	cursor: pointer;
	text-transform: uppercase; 
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{ 
    border: #e9ecef solid 1px; 
}
.checkbox-tools:checked + label{
	background-color: #04AA6D;
    color: #fff;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
   /* background-image: linear-gradient(298deg, #04AA6D, #c3f5c3); 
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px; 
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color:#f0eff3;
	color: #1f2029;
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}
 */